@model CartPreviewViewModel

@{
    ViewData["Title"] = "Cart";
	// ADD TO CART VIEW ~~ 
	// Add CartItems to the database -- update database context to include CartItems
}

@if (Model.Product != null)
{
    <div class="alert alert-success">
        <strong>@Model.Product.Name</strong> has been added to your cart!
    </div>

    <div class="card mb-4">
        <img src="~/images/MartinCow.png" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">@Model.Product.Name</h5>
            <p class="card-text">Price: $@Model.Product.Price</p>
            <p class="card-text">Category: @Model.Product.Category</p>
        </div>
    </div>
}

@foreach (var item in Model.CartItems)
{
    <div class="card mb-3">
        <img src="~/images/MartinCow.png" class="card-img-top" />
        <div class="card-body">
            <h5>@item.Product?.Name</h5>
            <p>Price: $@item.Product?.Price</p>
            <p>Quantity: @item.Quantity</p>
        </div>
    </div>
}

<div class="col-md-4 summary">
    <div><h5><b>Summary</b></h5></div>
    <hr>
    <div class="row">
        <div class="col text-right">Subtotal: $@ViewBag.Subtotal</div>
    </div>
    <form>
        <p>SHIPPING</p>
        <select><option class="text-muted">Standard-Delivery - $@ViewBag.Shipping</option></select>
    </form>
    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">$@ViewBag.Total</div>
    </div>
    <button class="btn-checkout btn" id="checkout-button">CHECKOUT</button>
</div>