@model CartPreviewViewModel

@{
    ViewData["Title"] = "Cart";
	// ADD TO CART VIEW ~~ 
	// Add CartItems to the database -- update database context to include CartItems
}



@if (Model.Product != null)
{
    <div class="alert alert-success">
        <strong>@Model.Product.Name</strong> has been added to your cart!
    </div>
}

@if (Model.CartItems == null || !Model.CartItems.Any())
{
    <div class="alert alert-warning text-center">
       Your cart is empty. Why not MOO-ve something delicious over here?
    </div>
}


@foreach (var item in Model.CartItems)
{
    <div class="card w-25 mb-3 m-2">

        <img src="~/images/MartinCow.png" class="card-img-top" />
        <div class="card-body">
            <h5 class="card-title">@item.Product?.Name</h5>
            <p class="card-text">Price: $@item.Product?.Price</p>
            <p class="card-text">Category: @item.Product.Category</p>

            <!--Update and Create a Update Quantity Method within the cartcontroller-->
            <form asp-controller="Cart" asp-action="UpdateQuantity" method="post"> Quantity: 
                <input type="hidden" name="productId" value="@item.ProductId" />
                <input type="number" name="quantity" value="@item.Quantity" min="0" />
                <button type="submit">Update</button>
            </form>
        </div>
    </div>
}

<div class="col-md-4 summary">
    <div><h5><b>Summary</b></h5></div>
    <hr>
    <div class="row">
        <div class="col text-right">Subtotal: $@ViewBag.Subtotal</div>
    </div>
    <form>
        <p>SHIPPING</p>
        <select><option class="text-muted">Standard-Delivery - $@ViewBag.Shipping</option></select>
    </form>
    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
        <div class="col">TOTAL PRICE</div>
        <div class="col text-right">$@ViewBag.Total</div>
    </div>
    <button class="btn-checkout btn" id="checkout-button">CHECKOUT</button>
</div>